* {
   padding: 0;
    margin: 0;
    font-family:  "Comic Sans MS"; 
}
header {
    height: 58px;
    background: #fff;
    border-top: 4px solid #ce1126;
    border-bottom-color: #eee;
}
button {
    background: #e6e6e6;
}
h1 {
    font-size: 60px;
    line-height: 58px;
    text-align: center;
}
input, button {
    border: solid black 1px;
    color: black;
    font-size: 16px;
    padding: 5px 5px;
    margin-bottom: 10px;
}
#submitBtn{
	background: #e6e6e6;
    width: 100%;
    font-style: bold;

}
#msgInput{
    border: 1px solid #ddd;
    color: #333;
    font-size: 16px;
    padding: 12px 16px;
    margin-bottom: 16px;
    width: 100%;
}
